<mat-card class="post-card">
  <mat-card-header>
    <mat-card-title>{{ 'Lebron James' }}</mat-card-title>
    <mat-card-subtitle>by {{ 'Vano' }} — {{ 2025 }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>
      {{ 'Steph curry is the greatest shooter god has ever created, trust me on this one he is too good, like very good player in basketball, good good good' }}
    </p>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-raised-button color="primary">View Post</button>
  </mat-card-actions>
</mat-card>
