<div class="post-list" *ngIf="paginatedPosts$ | async as paginatedPosts">
  <div class="post-list-wrapper">
    <app-post-card *ngFor="let post of paginatedPosts" [postData]="post"></app-post-card>
  </div>
</div>

<div class="pagination-controls" *ngIf="{totalPages: totalPages$ | async,currentPage: currentPage$ | async} as params">
  <button (click)="prevPage()" [disabled]="params.currentPage === 1">Previous</button>
  <span>Page {{ params.currentPage }} of {{ params.totalPages }}</span>
  <button (click)="nextPage()" [disabled]="params.currentPage === params.totalPages">Next</button>
</div>
