<div class="layout-header" [ngClass]="themeService.$themeSignal$()">
  <div class="layout-header-routing">
    <button [routerLink]="'/home'">
      <span class="material-symbols-outlined">Home</span>
    </button>
    <button [routerLink]="'/home/add-post'">
      <span class="material-symbols-outlined">Add Post</span>
    </button>
  </div>
  <p>Blog App</p>
  <div class="theme-control">
    @if (themeService.$themeSignal$() === 'dark') {
      <button (click)="toggleTheme()">
        <span class="material-symbols-outlined">
          dark_mode
        </span>
      </button>
    } @else {
      <button (click)="toggleTheme()">
        <span class="material-symbols-outlined">
          wb_sunny
        </span>
      </button>
    }
  </div>
</div>
