<div class="layout-header" [ngClass]="themeService.$themeSignal$()">
  <div class="layout-header-routing">
    <button [routerLink]="'/home'">
      <span class="material-symbols-outlined">Home</span>
    </button>
    <button [routerLink]="'/home/add-post'">
      <span class="material-symbols-outlined">Add Post</span>
    </button>
  </div>
  <h1>Angular Blog App</h1>
  <div class="theme-control">
    <p>Theme Toggle</p>
    <mat-slide-toggle (click)="toggleTheme()"></mat-slide-toggle>
  </div>
</div>
