<div class="post-card" [ngClass]="themeService.$themeSignal$()">
  <div class="post-card__header">
    <h3 class="post-card__header-title">{{ postData.title }}</h3>
    <p class="post-card__header-subtitle">By <strong>{{ postData.author }}</strong> — {{ postData.date | date: 'mediumDate' }}</p>
  </div>
  <!---->
  <div class="post-card-content">
    <p>
      {{postData.content}}
    </p>
  </div>
  <!---->
  <div class="post-card-actions">
    <button class="btn-primary edit" [routerLink]="['/home/posts/', 'edit', postData.id]">Edit</button>
    <button class="btn-primary" [routerLink]="['/home/posts', postData.id]">View Post</button>
    <button class="btn-primary delete" (click)="deletePost(postData.id)">Delete</button>
  </div>
</div>
