<div class="action">
  <form [formGroup]="postForm" (ngSubmit)="submitAction()">
    <div class="form-group">
      <app-input label="Title" formControlName="title" type="text"/>
    </div>
    <!---->
    <div class="form-group">
      <app-input label="Author" formControlName="author" type="text"/>
    </div>
    <!---->
    <div class="form-group">
      <app-input label="Date" formControlName="date" type="date"/>
    </div>
    <!---->
    <div class="form-group">
      <app-input label="Description" formControlName="description" type="text"/>
    </div>
    <!---->
    <div class="form-group">
      <app-input label="Content" formControlName="content" type="text"/>
    </div>
    <!---->
    <button type="submit" class="btn-primary" [disabled]="postForm.invalid">Save</button>
    <button type="button" class="btn-secondary" [routerLink]="['/home/']">Cancel</button>
  </form>
</div>
