* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  touch-action: manipulation;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui;
}

html,
body {
  position: relative;
  min-height: 100%;
}

body {
  overflow-x: hidden;
  user-select: none;
  -webkit-user-select: none;
}

html,
body,
div,
span,
applet,
object,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

iframe {
  margin: 0;
  padding: 0;
  border: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
}

input {
  border: 0;
  background-color: transparent;
  outline: none;

  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}

.dark {
  background-color: #333;
  color: #fff;

  .header {
    background-color: #444;
    color: #fff;
  }

  button {
    background-color: #444;
    color: #fff;

    &:hover {
      background-color: #555;
    }
  }

  h1 {
    color: #fff;
  }
}

.light {
  background-color: #fff;
  color: #171717;

  .header {
    background-color: #eaeaea;
    color: #333;
  }

  button {
    border-color: #d2d2d2;
    color: #171717;
  }
}
